.buildpath
.settings/
.project
*.patch
.idea/
.git/
runtime/
vendor/
.phpintel/
.env
.DS_Store
*.lock
.phpunit*

composer.phar
node_modules/
.vagrant/
.vscode
nbproject
*.sublime-project
*.sublime-workspace
Thumbs.db
phpunit.phar
phpunit.xml
.phpunit.result.cache
.rnd
.php_cs.cache
tests/_output/*
tests/_support/_generated
auth.json
